<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% if header.title and not page.home %}{{ header.title|e }}{% else %}{{ site.title|e }}{% endif %}">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://geffreyvanderbos.com/user/themes/product-management-blog/images/vanderbos-og-image.png">
    <meta name="author" content="Geffrey van der Bos">
    <meta name="color-scheme" content="light dark" />
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="canonical" href=""/>
    <link rel="DNS-prefetch" href="//fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <script>
      const colorScheme = localStorage.getItem("color-scheme") || "dark-mode";
    </script>
</head>