<div class="header-line">
  <span class="header-line--backlink small-text">
    <svg width="16" height="13" class="back-to-articles__icon" xmlns="http://www.w3.org/2000/svg">
      <g fill="none" fill-rule="evenodd"><path d="M15.5 6.5H1M7 12 1 6.5 7 1"/></g>
    </svg>
    <a class="back-to-articles" href="{{ site.url }}">Back to feed</a>
  </span>
  <button class="copylink small-text copy-link-button" data-clipboard-text="https://www.geffreyvanderbos.com{{ page.url }}">Click to copy link</button>
</div>