:root { 
  --max-container-width: 1320px;
  --max-article-width: 680px;
}

:root { 
  /* --font-color: hsl(120, 3%, 15%);
  --muted-font-color: hsl(108, 3%, 55%);
  --background-color: hsl(111, 3%, 98%);
  --button-hover: hsl(111, 3%, 90%);
  --background-pop: hsl(111, 63%, 24%);
  --background-pop-subtle: hsl(111, 10%, 74%);
  --link-underline-color: hsl(111, 3%, 15%); */
  --font-color: hsl(150, 4%, 80%);
  --accented-font-color: hsl(150, 4%, 94%);
  --muted-font-color: hsl(150, 4%, 50%);
  --background-color: #0A0A0A;
  --button-hover: hsl(111, 1%, 25%);
  --background-pop: hsl(111, 18%, 74%);
  --background-pop-subtle: hsl(111, 10%, 54%);
  --link-underline-color: hsl(111, 15%, 95%);
}

/* .dark-mode body { 
  --font-color: hsl(111, 15%, 95%);
  --muted-font-color: hsl(111, 10%, 75%);
  --background-color: hsl(111, 1%, 10%);
  --button-hover: hsl(111, 1%, 25%);
  --background-pop: hsl(111, 18%, 74%);
  --background-pop-subtle: hsl(111, 10%, 54%);
  --link-underline-color: hsl(111, 15%, 95%);
} */

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1500;
  --fluid-min-size: 16;
  --fluid-max-size: 20;
  --fluid-min-ratio: 1.05;
  --fluid-max-ratio: 1.15;
  
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
  --font-family: "Inter", serif;
}

@media screen and (min-width: 1500px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);

  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);

  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;

  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;

  --fluid-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
  --fluid-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  --fluid-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  --fluid-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  --fluid-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  --fluid-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
}

* {
  box-sizing: border-box;
}

.toggle-theme {
  display: block;
  height: 24px;
  width: 24px;
  margin-left: var(--fluid-0);
  position: relative;
  top: -4px;
}

.toggle-theme:active {
  opacity: 0.7;
}

.toggle-theme svg path {
  fill: var(--font-color);
}

.dark-mode .toggle-theme svg path {
  transform: scale(1, -1) translate(0, -100);
}

.toggle-theme::before {
  content: '';
  display: inline-block;
  width: 480px;
  height: 480px;
  left: -228px;
  top: -228px;
  position: absolute;
  border-radius: 100%;
  background-color: white;
  mix-blend-mode: difference;
  transform-origin: center;
  z-index: 1000;
  opacity: 0;
  transform: scale(.05, .05);  
  transition: transform .5s cubic-bezier(0.85, 0, 0.15, 1), opacity .4s cubic-bezier(0.85, 0, 0.15, 1);
  pointer-events: none;
}

@media (hover: hover) {
  .toggle-theme:hover::before {
    opacity: 1;
    transform: scale(.75, .75);
  }
}

html, body {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--font-color);
  font: 400 var(--fluid-0) / 1.6 var(--font-family);
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--accented-font-color);
  font-weight: 700;
  text-decoration: none;
  transition: border .064s cubic-bezier(0.37, 0, 0.63, 1);
}

article a, #modal--content a {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

article a:hover, #modal--content a:hover {
  border-bottom: 2px solid rgba(255,255,255,0.6);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0.5em 0;
  color: var(--accented-font-color);
}

h1 {
  font-size: var(--fluid-4);
}

h1 a {
  color: var(--accented-font-color);
  border-bottom: 0;
}

h1 a:hover {
  border-bottom: 0;
}

h2 {
  font-size: var(--fluid-2);
}

.growing-ball-of-light {
  position: absolute;
  width: 100%;
  height: 1100px;
  left: 50%;
  transform: translate(-50%, -65%);
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, hsla(126, 85%, 35%, .7) 0%, rgba(13, 166, 28, 0.15) 30.73%, rgba(4, 56, 10, 0) 100%);  opacity: 0.35;
  animation-name: growing-ball;
  animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes growing-ball {
  from {transform: translate(-50%, -100%)}
  to {transform: translate(-50%, -65%);}
}

header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-container-width);
  padding-bottom: var(--fluid-5);
  padding-top: var(--fluid-5);
}

.page-header {
  padding-right: var(--fluid-2);
  padding-left: var(--fluid-2);
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--fluid-4)*2);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: calc(var(--fluid-0) /2);
  max-width: var(--max-container-width);
}

.header-line--backlink {
  padding: calc(var(--fluid-0) / 2);
  padding-left: 0;
}

.articles-wrapper .divider {
  display: block;
  height: 1px;
  width: 100%;
  margin-bottom: calc(var(--fluid-5) * 4);
  background: -webkit-linear-gradient(left,transparent,rgba(255,255,255,0.1) 50%,transparent);
  background: linear-gradient(left,transparent,rgba(255,255,255,0.1) 50%,transparent);
  animation-name: growing-divider;
  animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
  opacity: 0.2
}

@keyframes growing-divider {
from {opacity: 0.2}
to {opacity: 1}
}

.articles-wrapper {
  width: 100%;
  background: transparent url("blurred-decoration.png") no-repeat top center;
  background-size: 100%;
}

.back-to-articles__icon g {
  stroke: var(--font-color);
}

header a {
  background-image: none;
}

#modal--button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  animation-name: introduction-name-reveal;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: .520s;
  opacity: 0;
}

#modal--button div {
  display: flex;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: var(--font-family);
  font-size: calc(var(--fluid-0) * .85);
  color: var(--accented-font-color);
  padding: var(--fluid-0) calc(var(--fluid-0) / 1.25) var(--fluid-0) var(--fluid-0);
  border: 1px solid var(--font-color);
  border-radius: 5em;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  font-weight: 400;
  transition: background-color .165s ease-out;
}

#modal--button:hover div {
  background: rgba(255, 255, 255, 0.2);
}

#modal--button div svg {
  margin-left: 4px;
}

.introduction {
  text-align: center;
  margin-bottom: calc(var(--fluid-5) * 4);
  padding: 0 var(--fluid-1);
}

.introduction--name {
  font-weight: bold;
  font-size: var(--fluid-1);
  margin-bottom: var(--fluid-1);
  display: block;
  color: hsl(126, 16%, 60%);
  animation-name: introduction-name-reveal;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: .320s;
  opacity: 0;
}

@keyframes introduction-name-reveal {
  from {opacity: 0; }
  to {opacity: 1; }
}

.introduction--headline {
  font-size: var(--fluid-5);
  max-width: 18em;
  margin: 0 auto var(--fluid-1) auto;
  background: linear-gradient(120deg, rgba(255, 255, 255, .95) 20%, hsla(126, 5%, 85%, 0.9) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: introduction-reveal;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  transform: translate(0, -.5rem);
  opacity: 0.6;
}

@keyframes introduction-reveal {
  from {opacity: 0; transform: translate(0, -.5rem);}
  to {opacity: 1; transform: translate(0, 0);}
}

#modal--container {
  display: none;
  position: fixed; 
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  background-color: hsla(126, 35%, 2%, .9);
  animation-name: modal-background;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  animation-fill-mode: forwards;
  animation-duration: .084s;
  opacity: 0;
}

@keyframes modal-background {
  from {opacity: 0;}
  to {opacity: 1;}
}

#modal--content {
  text-align: left;
  background: linear-gradient(180deg, hsla(126, 85%, 2%, .95) 0%, hsla(120, 13%, 5%, .9) 100%);
  margin: 15vh auto;
  padding: var(--fluid-5);
  box-shadow: 
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.12),
    0px 3.8px 5.5px rgba(0, 0, 0, 0.2),
    0px 9.2px 13.3px rgba(0, 0, 0, 0.144),
    0px 17.3px 25px rgba(0, 0, 0, 0.119),
    0px 30.8px 44.7px rgba(0, 0, 0, 0.1),
    0px 57.7px 83.6px rgba(0, 0, 0, 0.081),
    0px 138px 200px rgba(0, 0, 0, 0.056);
  max-width: 720px;
  border-radius: 12px;
  animation-name: modal-content;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  animation-fill-mode: forwards;
  animation-duration: .164s;
  transform: translateY(.2rem);
}

@keyframes modal-content {
  from {transform: translateY(.2rem);}
  to {transform: translateY(0);}
}

.modal--close {
  color: var(--muted-font-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom: var(--fluid-2);
}

.modal--close:hover,
.modal--close:focus {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}

nav {
  display: flex;
  align-items: flex-end;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(var(--fluid-0) * .75);
}

nav ul li:not(:last-child) {
  margin-right: calc(var(--fluid-0) * .75);
}

main {
  /* padding-right: var(--fluid-2); */
  /* padding-left: var(--fluid-2);   */
  padding-bottom: var(--fluid-5);
  padding-top: var(--fluid-5);
  margin-right: auto;
  margin-left: auto;
  /* max-width: var(--max-container-width); */
  flex: 1 0 auto;
  width: 100%;
}

.articles-wrapper article, .single-entry  {
  max-width: var(--max-article-width);
  margin-bottom: calc(var(--fluid-5)*5);
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--fluid-1);
}


.articles-wrapper article > p, article ol, article ul {
    margin-top: calc(var(--fluid-0)*1.75);
    margin-bottom: calc(var(--fluid-0)*1.75);
}

article ol, article ul {
  border-left: 1px solid var(--muted-font-color);
}

article ol li, article ul li {
  margin-top: calc(var(--fluid-0)*0.75);
  margin-bottom: calc(var(--fluid-0)*0.75);
}

.article-feed--header {
  margin-bottom: 0 !important;
}

.small-text, .article--metadata {
  font-size: calc(var(--fluid-0) * .75);
}

.article--metadata, .metadata--time, .metadata--permalink {
  color: var(--muted-font-color);
  font-weight: 400;
}

article > :first-child {
  margin-top: 0;
}

article > :last-child {
  margin-bottom: 0;
}

article > hr,
article> hr:last-child {
  margin: var(--space-2) 0;
}

article table {
  font-family: var(--font-family);
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: 0;
  font-size: calc(var(--fluid-0)*.85);
}

article table thead {
  text-align: left;
}
article table thead th {
  font-weight: 700;
  color: var(--muted-font-color);
}

article table th, article table td {
  vertical-align: top;
  padding: calc(var(--fluid-0)*.5);
}

article table td + td {
  border-left: 1px solid var(--muted-font-color);
}

article table tr + tr td {
  border-top: 1px solid var(--muted-font-color);
}

.intermission {
  text-align: center;
  margin-bottom: calc(var(--fluid-5)*5);
}

.intermission iframe {
  width: 100%;
  max-width: var(--max-article-width);
  border: 0 !important;
  background: transparent !important;
}

.spinner {
  max-width: var(--max-article-width);
  margin-right: auto;
  margin-left: auto;
}

.spinner__title, .spinner__content {
  display: block;
  background-color: var(--muted-font-color);
  opacity: .15;
  background: var(--muted-font-color);
  background: linear-gradient(110deg, var(--muted-font-color) 8%, var(--font-color) 18%, var(--muted-font-color) 33%);
  background-size: 200% 100%;
  animation: 1.25s shine linear infinite;
}

.spinner__title {
  width: 80%;
  height: var(--fluid-4);
  margin-bottom: calc(var(--fluid-0) * 1.25);
}

.spinner__content {
  height: var(--fluid-0);
  margin-bottom: calc(var(--fluid-0) * .5);
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}


footer {
  width: 100%;
  transition: bottom 0.2s ease-in-out;
}

footer .content {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-container-width);
  padding-bottom: var(--fluid-0);
  padding-top: calc(var(--fluid-5) * 2);
  padding-right: var(--fluid-1);
  padding-left: var(--fluid-1);  
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--fluid-2);
  font-size: calc(var(--fluid-0) * .75);
}

footer .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
footer .content ul li:not(:last-child) {
  margin-right: calc(var(--fluid-0) * .75);
}

footer .social-links a {
  background-image: none;
}

footer .social-links svg {
  width: 24px;
  height: 24px;
}

footer .social-links svg path {
  fill: var(--font-color);
}

footer .social-links a:hover svg path {
  fill: var(--muted-font-color);
}

