<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  
  <body>
    <div class="page">
    <header class="page-header">
      <div class="growing-ball-of-light"></div>
    </header>
    
    <main>
          {{content}}
    </main>
  </div>
    {%- include footer.html -%}
  </body>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
</html>