---
layout: default
---
<div class="introduction">
  {%- if page.title -%}
    <span class="introduction--name">Geffrey van der Bos</span>
    <h1 class="introduction--headline">{{ page.title }}</h1>
  {%- endif -%}
</div>
<div class="articles-wrapper">
  <div class="divider"></div>
  {% for post in site.posts %}
  {%- if post.visible != 0 -%}
    <article>
      <h1 class="article-feed--header">
        <!-- <a href="{{ post.url }}"> -->
          {{ post.title }}
        <!-- </a> -->
      </h1>
      <div class="article--metadata"><time class="metadata--time" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>&nbsp;•&nbsp;<a class="metadata--permalink"href="{{ post.url }}">Permalink</a></div>
      {{ post.content }}
    </article>
    {%- endif -%}
  {% endfor %}
  </div>
</div>